services:
  web: &web
    build:
      context: .
    restart: unless-stopped
    volumes:
      - ./:/site
      - ./docker/.zsh_history:/root/.zsh_history
      - ./docker/.zsh_history:/home/nntmux/.zsh_history
      - ./docker/.mytop:/home/nntmux/.mytop
      - ./docker/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/supervisor.d:/etc/supervisor.d
      - ./docker/composer-auth.json:/home/nntmux/.composer/auth.json
      - ./docker/php-overrides.ini:/etc/php/conf.d/overrides.ini
      - ./docker/php-overrides.local.ini:/etc/php/conf.d/overrides.local.ini
    env_file: .env
    ports:
      - 80
    environment:
      VIRTUAL_HOST: nntmux.local
      IS_DOCKER: "true"
      MYSQL_ROOT_PASSWORD: ${DB_ROOTPASSWORD}
      TZ: ${APP_TZ}
    depends_on:
      - mariadb
      - redis
      - manticore

  tmux:
    <<: *web
    stdin_open: true
    tty: true
    environment:
      IS_DOCKER: "true"
      MYSQL_ROOT_PASSWORD: ${DB_ROOTPASSWORD}
      TZ: ${APP_TZ}
      COLUMNS: "`tput cols`"
      LINES: "`tput lines`"
    command: /site/cli/docker tmux-start
    depends_on:
      - mariadb
      - redis
      - manticore

  redis:
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - $PWD/docker/redis-data;/data
      - $PWD/docker/redis.conf:/usr/local/etc/redis/redis.conf

  manticore:
    image: manticoresearch/manticore
    restart: unless-stopped
    volumes:
      - $PWD/docker/manticore-data;/var/lib/manticore/data
      - $PWD/docker/sphinx.conf:/etc/sphinxsearch/sphinx.conf

  mariadb:
    image: mariadb:11
    restart: unless-stopped
    volumes:
      - $PWD/docker/my.cnf:/etc/mysql/conf.d/newsnab-tmux.cnf
      - $PWD/docker/mariadb-data:/var/lib/mysql
      - $PWD:/var/www/NNTmux/
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOTPASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      TZ: ${APP_TZ}
